body{
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
input, #check{
    margin: 1em;
}
input{
    text-align: center;
}
#reset, #check{
    font-size: .7em;
    padding: .7em;
    border-radius: 10px;
}